.libmagsys {
    @media screen and (max-width: 1000px) {
        .libmagsys_container {
            flex-direction: column-reverse !important;
        }
    }

    .libmagsys_container {
        border-top: 2px solid #16161d;     
        color: white;
        background: linear-gradient(-90deg, #16161d 1%, #1f1f3a, #2A2A4F 66%);
        height: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 50px;

        .project_div {
            font-family: Garamond, serif;      
        }

        @media screen and (max-width: 1000px) {

            
            .project_div.project_picture {
                visibility: hidden;
                width: 0px;
                height: 0px;
                position: absolute;   
            }
            .project_div.project_description {
                margin-right: 0px !important;
                text-align: center;
                width: 70% !important;
                p {                  
                    margin-top: 0px;
                    padding: 0px;
                }
                
            }
        }

        

        .project_div.project_picture {
            width: 40%;
            margin-left: 50px;
            border-radius: 60px;
            overflow: hidden;
            transition: all 0.2s linear;
            background-color: transparent;

            &:hover {
                border-radius: 40px;
                transform: scale(1.1);
            }
            
            img {
                z-index: -1;
            }
        }

        .project_div.github_icon {
            width: 20%;
            height: 70px;
            text-align: center;
            font-size: 55px;

            a {
                text-decoration: none;
                color: white;

                i {
                    transform: scale(1.2);
                    transition: all 0.1s linear;

                    &:hover {
                        transform: scale(1.4);
                    }
                }
            }

        }

        .project_div.project_description {
            width: 40%;
            margin-right: 20px;
        }

        .project_description {         
            text-align: right;
            height: 100%;
            display: flex;
            flex-direction: column;           
            justify-content: center;

            span {
                font-weight: 800;
                filter: drop-shadow(5px 0px 20px rgba(255,255,255, 0.25));
            }

            .project_description_title {
                font-size: 55px;
            }

            .project_description_content {
                font-size: 24px;
            }
            
        }

        img {
            max-width: 100%;
        }
    }
}

