.navigationbar {
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, .7));
    top: 0;
    left: 0;
    z-index: 3;
    

    .navigationbar_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    max-width: 1200px;
    

        a {
            
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 25px;
            transition: all 0.2s ease;
            text-decoration: none;

            &:hover {
                background: rgba(0, 0, 0, 0.8);
            cursor: pointer;
            }

            .navigationbar_page {
                p {
                    color: white;
                    user-select: none;
                    margin: 0;
                    filter: drop-shadow(5px 0px 20px rgba(255,255,255, 0.25));
                }
        }

        
        }      
    }
}

